<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Slate is a responsive theme for GitHub Pages" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700italic,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,700,700italic' rel='stylesheet' type='text/css'>

    <title>MAC0499 by Fellipe Souto</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/fllsouto/mac0499">GitHub Repository</a>

          <h1 id="project_title">Trabalho de Formatura Supervisionada</h1>
          <h2 id="project_tagline">Um estudo do Modelo de Atores aplicado à concorrência de recursos</h2>
        </header>
    </div>

    <section class="outer">
        <div class="downloads inner">
          <a class="zip_download_link" href="<%= repo_zip%>">Download Repository.zip</a>
        </div>
    </section>


    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

        <h1>Informações</h1>

          <p><strong>Tema:</strong> Um estudo do Modelo de Atores aplicado à concorrência de recursos</p>
          <p><strong>Nome:</strong> Fellipe Souto Sampaio</p>
          <p><strong>Orientadora:</strong> Prof. Dra Ana Cristina Vieira de Melo</p>
          <p><strong>Prof Responsável:</strong> Prof. Dra Nina Hirata</p>
          <p><strong>Instituição de Ensino:</strong> Instituto de Matemática e Estatística - Universidade de São Paulo</p>
          <p><strong>Data:</strong> Dezembro de 2016</p>


          <p><strong>Resumo:</strong></p>
          <p>
            A concorrência por recursos computacionais é um dos problemas mais fundamentais da computação. Essa disputa pode acontecer em qualquer nível de <i>Software</i>, desde trechos de memória sendo compartilhados por diversos processos no <i>Kernel</i> do sistema operacional até serviços web sendo consumidos por centenas de aplicações distribuídas.
          </p>
          <p>
            Lidar com essa concorrência não é uma tarefa trivial, impasses como <i>Deadlocks</i>, <i>Livelocks</i> e <i>Starvation</i> são comuns de acontecer quando tentamos arbitrar o compartilhamento de recursos. O Modelo de Atores é uma modelo matemático para programação concorrente, através do qual nós podemos propor uma abordagem diferente para o compartilhamento de estruturas, elas passam a estar encapsuladas dentro dos atores e seu acesso é controlado através da troca de mensagens.
          </p>
          <p>
            Problemas clássicos de concorrência, como O Jantar dos Filósofos, podem ser modelados e solucionados através do Modelo de Atores. A concorrência por recursos existente no problema é resolvida de forma natural, através da definição de quais tipos de mensagens serão trocadas e como elas deverão ser interpretadas pelos atores.
          </p>

          <p><strong>Palavras-chave:</strong> Programação Concorrente, Modelo de Atores, Compartilhamento de Recursos, O Problema do Jantar dos Filósofos.</p>


        <h2>Monografia</h2>
          <p> <%= monography %> </p>

        <h2>Código Fonte</h2>
          <p> <%= source_code %> </p>

        <h2>Pôster</h2>
          <p> <%= poster %> </p>

        <h2>Apresentação de Slides</h2>
          <p> <%= slides %> </p>

        <h2>Parte Subjetiva</h2>
          <p> <%= subjective_part %> </p>

      </section>
    </div>
    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Theme based on <a href="https://github.com/jasoncostello/slate">Slate</a></p>
      </footer>
    </div>

  </body>
</html>
